* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

.welcome{
    height: 100vh;
    width: 100%;
    background: url("main_background.jpeg");
    color: white;
}

.dark{
    background: rgba(0, 0, 0, 0.30);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name{
    font-weight: 900;
    margin-bottom: 30px;
    font-size: 44px
}

.phone{
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
}

.phrase{
    font-size: 20px;
    font-weight: normal;
}

.phoneimg{
    height: 20px;
    width: 20px;
    padding-right: 5px;
}

.arrowdown{
    height: 50px;
    width: 70px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 35px);
    right: calc(50% - 25px);
    cursor: pointer;
}

.logo{
    display: inline-block;
}

.div2{
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

@media (min-width:800px) { /* комп */
  .text{
    font-size: 20px;
    line-height: 30px;
  }
  .desc{
      width: 400px;
      vertical-align: top;
  }
  .logo{
      width: 350px;
      height: 350px;
      margin-right: 60px;
  }
  h2{
      font-size: 30px;
      margin-bottom: 20px;
  }
  .services{
    height: 100vh;
  }
  .services1{
    font-size: 20px;
  }
  .servicepic{
    height: 300px;
    width: 300px;
  }
  .service{
    height: 480px;
    width: 300px;
    margin: 30px;
  }
  .person{
    height: 200px;
    width: 200px;
  }
  .feedback{
    width: 600px;
  }
}
@media (max-width: 800px) { /* мобильная */
  .text{
    font-size: 14px;
    line-height: 20px;
  }
  h2{
      font-size: 20px;
      margin-bottom: 20px;
      margin-top: 20px;
  }
  .logo{
      width: 100%;
      object-fit: contain;
      height: 200px;
  }
  .desc{
    width: calc(100% - 20px);
    height: auto;
    margin: 10px;
    text-align: center;
  }
  .services1{
    font-size: 14px;
  }
  .servicepic{
    height: 250px;
    width: 250px;
  }
  .service{
    height: 400px;
    width: 250px;
    margin: 20px;
  }
  .servicesdiv{
    margin-top: -20px;
  }
  .person{
    height: 150px;
    width: 150px;
  }
  .feedback{
    width: 300px;
  }
}

@media (max-width: 1100px) {
  .services{
    height: auto !important;
  }
}

.desc{
    display: inline-block;
}

.services{
    width: 100%;
    background-color: powderblue;
    justify-content: center;
    align-items: center;
    display: flex;
}

.servicesdiv{
  display: inline-block;
  text-align: center;
}

.service{
  background: white;
  display: inline-block;
  vertical-align: top;
}

.servicedesc{
  margin-top: -10px;
}

.motivation{
  height: 35vh;
  width: 100%;
  background: url('motivation.jpg')
}

.button {
  background-color: orange;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 50px;
  width: 100px;
  margin-left: calc(50% - 50px);
  margin-right: calc(50% - 50px);
  cursor: pointer;
}

.button:hover{
  background-color: white;
  color: black;
}

.services1{
  text-align: center;
}

h2{
  text-align: center;
}

/* отзывы */

.feedbacks{
  background-color: lavender;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.feedback{
  display: flex;
  flex-direction: row;
  margin: 20px;
  min-height: 130px;
}

.feedbacktext{
  background-color: white;
  height: auto;
  width: 100%;
  border-radius: 2%;
  margin-left: 20px;
}

.person{
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
